.whitered {
    color: white;
    background-color: red;
}
a {
color: red;
}

a:visited {
    color: green;
}

a:hover {
color: yellow;
}

#Address {
    font-style: italic;
}

.bold {
    font-weight: bold;
}