.helvetica {
    font-family: Arial, Helvetica, sans-serif;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(a5bg.png);
    background-repeat: repeat;
    background-position: top left;
}  

header {
background-color: white;
padding: 15px;
margin-top: 10px;
margin-bottom: 10px;
}

main {
background-color: white;
padding: 15px;
margin-top: 20px;
margin-bottom: 20px;
}

footer{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    padding: 30px;
}

h1 {
    font-weight: normal;
}

h2 {
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

p a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
    color: red;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 200px;
    margin-right: 20px;
    background-color: darkblue;
}

nav li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: blue;
}

footer {
    color: white;

    background-color: darkblue;
    border: 3px solid white;
}