html {
    background-image: url(a62.png);
    background-repeat: repeat;
    background-position: top left;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  border: 3px solid black;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: span 12;
  background-color: black;
  color: white;
  padding-left: 20px;
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

h1 {
  font-weight: normal;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-top: 0px;
}

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  text-align: center;
  background-color: red;
  color: white;
  grid-column: span 12;
  border-top: 3px solid black;
}

nav {
  grid-column: span 3;
  font-family: Arial, Helvetica, sans-serif;
}

main {
 grid-column: span 9;
   margin-right: 1em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

nav li {
    display: inline-block;
    width: 266px;
    margin-bottom: 20px;
    background-color: red;
}

nav li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: darkred;
}

.blue {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.blue:hover {
  color: blue;
  text-decoration: underline;
}

img {
  float: left;
padding: 10px;
  outline: 3px solid black;
  margin-right: 10px;
  margin-bottom: 10px;
}

main p {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.bold {
  font-weight: bold;
  text-align: justify;
}