#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 1200px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

body {
  background-color: gray;
}

header {
  grid-column: span 12;
  background-color: rgb(170, 191, 200);
}

nav {
  grid-column: span 3;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 200px;
}

nav li a {
  display: block;
  background-color: red;
  border: 1px solid black;
  padding: 1em;
  color: white;
  text-decoration: none;
}

main {
  grid-column: span 6;
}

aside {
  grid-column: span 3;
  background-color:  rgb(132, 132, 255);
}

.mainimg {
  float: left;
}

footer {
  background-color: greenyellow;
  grid-column: span 12;
  color: purple;
}
